<?xml version="1.0"?>

<model>
  <name>Custom TurtleBot</name>
  <version>2.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Gabriel Nascarella Hishida do Nascimento</name>
    <email>gabrielnhn@ufpr.br</email>
  </author>

  <description>
    A modification of the TurtleBot3 Waffle Pi, Copyright 2016 ROBOTIS CO., LTD.
  </description>
</model>
